@page "/counter"

<PageTitle>Manijas del Software</PageTitle>

<h4 style="color: white;">Aca van a ir "cartas" con los diferentes integrantes y una descripcion breve junto con direcciones de contacto</h4>

