@page "/fetchdata"

<PageTitle>Manijas del Software</PageTitle>
@using Blazor_Server_SignalR.Data
@inject WeatherForecastService ForecastService
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">

<body>
    <div style="margin-bottom: 50px;">
        <div style="width: 100%; margin-top: 70px; padding-left: 25%; margin-bottom: 30px;">
            <h1>¡<img style="margin-top:-50px;" src="https://drive.google.com/uc?export=view&id=11-wqy68zYUnXchYwZJR3Ry1r4m7MmkYa">ANIJÉATE con estas Descargas!</h1>
        </div>
        <h3 style="color: Yellow; text-align:center;">ITES - ROLEPLAY - </h3>
        <div>
            <p><span font-size:35px;">Nombre: </span>ITES_Roleplay</p>
            <p><span style="color: Orange; font-size:35px;">Duración: </span>60min</p>
            <p><span style="color: Red;    font-size:35px;">Genero: </span>Clicker</p>
            <p><span style="color: Purple; font-size:35px;">Nacimiento:</span></p>
            <pre>Fue realizado en Visual Studio con uso de  la  librería Windows Forms, y programado en lenguaje C#. </pre>
        </div>
        <div style="width:100%; align-items: center; margin-top:25px; margin-bottom:25px;">
            <a style="background-color:white; padding: 30px; border-radius: 15px;" href="https://drive.google.com/drive/folders/11iBJMz-nrNrNpTPOGz7eHJdR1PpPN7D9?usp=sharing"> LINK AL DRIVE. </a>
        </div>
    </div>

    

    <div style="margin-top: 50px;">
        <h3 style="text-align:center;"> PIRATES! </h3>
        <div style="color:white;">
            <p><span style="color: Yellow;">Nombre: </span>Pirates!</p>
            <p><span style="color: Orange;">Duración: </span>X</p>
            <p><span style="color: Red;">Genero: </span>Dados y Rol</p>
            <p><span style="color: Purple;">Nacimiento:</span></p>
            <pre>
            Este es proyecto nace con la finalidad de completar dos trabajos parcticos en nuestra carrera como desarrolladores.
            Para ser entregado en la materia de programacion 2 de segundo anio del Instituto Tecnologico de Educacion Superior (ITES)
            y al mismo tiempo para el curso de desarrollo de videojuegos impulsado por el gobierno de La Pampa, Weni.
            </pre>
        </div>
        <div style="width:100%; align-items: center; margin-top: 25px;">
            <a style="background-color:white; padding: 30px; border-radius: 15px;" href="https://drive.google.com/drive/folders/11iBJMz-nrNrNpTPOGz7eHJdR1PpPN7D9?usp=sharing"> LINK AL DRIVE. </a>
        </div>
    </div>
</body>



