@page "/fetchdata"

<PageTitle>Manijas del Software</PageTitle>
@using Blazor_Server_SignalR.Data
@inject WeatherForecastService ForecastService

<body>
    <div style="padding:0; width:100%;">
        <div class="tituloManija">
            <h1 style="font-size:60px;">¡<img style="margin-top:-48px;" src="https://drive.google.com/uc?export=view&id=11-wqy68zYUnXchYwZJR3Ry1r4m7MmkYa">ANIJÉATE con estas Descargas!</h1>
        </div>

        <div class="juegoBlock">
            <h3>ITES - ROLEPLAY </h3>
            <div style="width: 100%; float:left; margin-top: 2%; margin-bottom: 2%;">
                <div style="width: 30%; float:left; height: 258px;">
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Nombre:  </span>  ITES_Roleplay</p>
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Duración:</span>60min</p>
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Genero:  </span>  Clicker</p>
                     <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Año:  </span>  2021</p>
                </div>

                <div style="width: 70%; float:left; height: 258px;">
                    <img style="width:100%;" src="https://drive.google.com/uc?export=view&id=1_k-KaPNlqiySciTe16xfMvUgSjGg7WtN">
                </div>
            </div>

            <div style="width: 100%; float:left;">
                <p class="texto" style="width:100%; text-align: center;"><span class="subTituloNaranja">Nacimiento:</span></p>
                <div class="parContex">
                <pre class="texto pequenioMargen">
                Fue realizado en Visual Studio con uso de  la  librería Windows Forms, y programado en lenguaje C# durante
                mi primer año de cursada. Es un clicker que intenta hacer de cuenta que sos el rector de la facultad y que
                tenes que ir administrandola comprando profesores, consiguiendo alumnos y becas para ganar el juego.
                </pre>
                </div>
            </div>

            <div class="btn_Descargar">
                <a target="_blank" class="btn_DescargarInt" href="https://drive.google.com/drive/folders/1OPy5EVpdcTsByUHtUGw7MNkjMdR9AQqq?usp=share_link"> DESCARGAR </a>
            </div>
        </div>

        <div class="juegoBlock">
            <h3> SEMPRE DUNGEONS </h3>
            <div style="width: 100%; float:left; margin-top: 2%; margin-bottom: 2%;">
                <div style="width: 30%; float:left; height: 258px;">
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Nombre:  </span>  SEMPRE DUNGEONS</p>
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Duración:</span>  xx:xx</p>
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Genero:  </span>  RPG</p>
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Año:  </span>  2022</p>
                </div>

                <div style="width: 70%; float:left; height: 258px;">
                    <img style="width:100%; height: 258px;" src="https://drive.google.com/uc?export=view&id=1qPM2S5JUPEWbLtkyNCPGbp2HmwY2Zotg">
                </div>
            </div>

            <div style="width: 100%; float:left;">
                <p class="texto" style="width:100%; text-align: center;"><span class="subTituloNaranja">Nacimiento:</span></p>
                <div class="parContex">
                    <pre class="texto pequenioMargen">
                Este es proyecto nace con la finalidad de aprender el software que ibamos a utilizar en nuestro trabajo
                de alli el nombre "Sempre Dungeon", pues es donde estamos trabajando actualmente.
                El juego consiste en registrate, ir mejorando a tu personaje, luchando en la dungeons, consiguiendo
                objetos comerciando y mil cosas mas! Aunque no esta completo puesto que tubimos que trabajar enserio T.T
                </pre>
                </div>
            </div>

            <div class="btn_Descargar">
                <a target="_blank" class="btn_DescargarInt" href="https://apps5.genexus.com/Idc43bec5624fd05e70032ca3625b423b9/ingreso.aspx"> ¡JUGAR YA! </a>
            </div>
        </div>

        <div class="juegoBlock">
            <h3> PIRATES! </h3>
            <div style="width: 100%; float:left; margin-top: 2%; margin-bottom: 2%;">
                <div style="width: 30%; float:left; height: 258px;">
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Nombre:  </span>  PIRATES!</p>
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Duración:</span>xx:xx</p>
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Genero:  </span>  Dados y Rol</p>
                    <p class="texto" style="font-size:30px;"><span class="subTituloNaranja">Año:  </span>  2022</p>
                </div>

                <div style="width: 70%; float:left; height: 258px;">
                    <img style="width:100%; height: 258px;" src="https://drive.google.com/uc?export=view&id=1NKslE1IjVHy72hNXiGoNRsAxvGBTSd8k">
                </div>
            </div>

            <div style="width: 100%; float:left;">
                <p class="texto" style="width:100%; text-align: center;"><span class="subTituloNaranja">Nacimiento:</span></p>
                <div class="parContex">
                <pre class="texto pequenioMargen">
                Este es proyecto nace con la finalidad de completar un trabajo practico de nuestra carrera en el ITES
                (Instituto Tecnologico de Educacion Superior), para en la materia de Programacion II de 2do año y al 
                mismo tiempo para el curso de desarrollo de videojuegos impulsado por el gobierno de La Pampa, Weni.
                </pre>
                </div>
            </div>

            <div class="btn_Descargar">
                <a target="_blank" class="btn_DescargarInt" href="https://drive.google.com/drive/folders/11iBJMz-nrNrNpTPOGz7eHJdR1PpPN7D9?usp=sharing"> DESCARGAR </a>
            </div>
        </div>

        
    </div>
</body>



