@page "/fetchdata"

<PageTitle>Manijas del Software</PageTitle>
@using Blazor_Server_SignalR.Data
@inject WeatherForecastService ForecastService
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">

<body>
    <div class="tituloManija">
        <h1 style="font-size:60px;">¡<img style="margin-top:-48px;" src="https://drive.google.com/uc?export=view&id=11-wqy68zYUnXchYwZJR3Ry1r4m7MmkYa">ANIJÉATE con estas Descargas!</h1>
    </div>

    <div class="juegoBlock">
        <h3 style="color: Yellow; text-align:center; font-size:45px;">ITES - ROLEPLAY </h3>
        <div>
            <p class="texto"><span class="subTituloNaranja">Nombre: </span>ITES_Roleplay</p>
            <p class="texto"><span class="subTituloNaranja">Duración: </span>60min</p>
            <p class="texto"><span class="subTituloNaranja">Genero: </span>Clicker</p>
            <p class="texto" style="text-align: center;"><span class="subTituloNaranja">Nacimiento:</span></p>
            <pre class="texto">
            Fue realizado en Visual Studio con uso de  la  librería Windows Forms, y programado en lenguaje C# durante
            mi primer año de cursada. Es un clicker que intenta hacer de cuenta que sos el rector de la facultad y que
            tenes que ir administrandola comprando profesores, consiguiendo alumnos y becas para ganar el juego.
            </pre>
        </div>
        <div class="btn_Descargar">
            <a class="btn_DescargarInt" href="https://drive.google.com/drive/folders/11iBJMz-nrNrNpTPOGz7eHJdR1PpPN7D9?usp=sharing"> DESCARGAR </a>
        </div>
    </div>

    

    <div class="juegoBlock">
        <h3 style="color: Yellow; text-align:center; font-size:45px;"> PIRATES! </h3>
        <div style="padding:0px;">
            <p class="texto"><span class="subTituloNaranja">Nombre: </span>Pirates!</p>
            <p class="texto"><span class="subTituloNaranja">Duración: </span>X</p>
            <p class="texto"><span class="subTituloNaranja">Genero: </span>Dados y Rol</p>
            <p class="texto" style="text-align: center;"><span class="subTituloNaranja">Nacimiento:</span></p>
            <pre class="texto">
            Este es proyecto nace con la finalidad de completar un trabajo practico de nuestra carrera en el ITES
            (Instituto Tecnologico de Educacion Superior), para en la materia de Programacion II de 2do año y al 
            mismo tiempo para el curso de desarrollo de videojuegos impulsado por el gobierno de La Pampa, Weni.
            </pre>
        </div>
        <div class="btn_Descargar">
            <a class="btn_DescargarInt" href="https://drive.google.com/drive/folders/11iBJMz-nrNrNpTPOGz7eHJdR1PpPN7D9?usp=sharing"> DESCARGAR </a>
        </div> 
    </div>
</body>



