@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavManager
@implements IAsyncDisposable


<body style="background-color: black; padding:0; ">

    <div class="tituloMain">
        <img class="imgTitle" src="https://drive.google.com/uc?export=view&id=155Isja1Dg86UAc9-u5PPnTnDhZvj07A5">
    </div>

    <img class="fixearDerecha" onClick="topFunction()" src="https://drive.google.com/uc?export=view&id=11-wqy68zYUnXchYwZJR3Ry1r4m7MmkYa">
    <div id="informacion" class="chatBox">
        <div style="border: 1px solid black; width: auto; Height: 400px; background-color:white;">
            <hr />
                <ul style="color: black;">
                @foreach (string msg in mensajes)
                {
                        <li style="color: black; padding-bottom:0px;">@msg</li>
                }
            </ul>
        </div>

        <div class="form-group" style="width:100%;">
            <label style="color: #64d86b;; width: 100%; font-weight:700; font-size:20px;">User: </label>
            <input @bind="userInput" style="color: black; font-weight:700; width:100%;"></input>
        </div>

        <div>
            <div class="form-group" style="width:100%;">
                <label style="color:#64d86b;; width: 100%; font-weight:900; font-size:20px;">Message: </label>
                <div style="width:100%;">
                    <input @bind="msgInput" @onkeydown="Enter" class="msgBox" style="color: black; font-weight:700;"></input>
                    <button @onclick="Send" disabled="@(EstaConectado == false)" class="btn_enviar">Enviar</button>
                </div>
            </div>
        </div>

    </div>

    <div class="noticiasIndex">
        <h3 style="width:100%;">Noticias</h3>
        <div class="noticias">
            <div class="publicacion">
                <img class="imgPubl" src="https://drive.google.com/uc?export=view&id=1kfpvdf6yxWfTgbu63-J3LhY7_G8gf2NI">
                <div class="pPublic">
                    <h4 style="width:100%;">ITES - Roleplay</h4>
                    <p class="parrafo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                    </p>
                </div>
            </div>
            <div class="publicacion">
                <img class="imgPubl" src="https://drive.google.com/uc?export=view&id=1dBM8JdvUTPdYNE7qhOqVKOFSLirbdVwb">
                <div class="pPublic">
                    <h4 style="width:100%;">SEMPRE DUNGEONS (Juega Ya!)</h4>
                    <p class="parrafo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                    </p>
                </div>
            </div>
            <div class="publicacion">
                <img class="imgPubl" src="https://drive.google.com/uc?export=view&id=1bKzIQxbrpmJ3ogBaGnxkeua51RBiLXVF">
                <div class="pPublic">
                    <h4 style="width:100%;">PIRATES! (En desarrollo)</h4>
                    <p class="parrafo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>


@code
{
    private HubConnection? hubConnection;
    private List<string> mensajes = new();
    private List<string> Invert = new();
    private string? userInput;
    private string? msgInput;


    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl(NavManager.ToAbsoluteUri("/chathub")).WithAutomaticReconnect().Build();

        hubConnection.On<string, string>("RecibirMensaje", (user, msg) =>
        {
            var mensajeCompleto = $"{user}:  {msg}";
            mensajes.Add(mensajeCompleto);

            if (mensajes.Count > 10)
            {
                mensajes.RemoveAt(0);
            }
            //Invert = Enumerable.Reverse(mensajes).ToList();
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            if (this.msgInput != null && this.msgInput != "")
            {
                await hubConnection.SendAsync("EnviarMensaje", userInput, msgInput);
                this.msgInput = "";
            }
        }
    }

    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (this.msgInput != null && this.msgInput != "")
            {
                await hubConnection.SendAsync("EnviarMensaje", userInput, msgInput);
                this.msgInput = "";
            }
        }
    }

    public bool EstaConectado => hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
